@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  line-height: 0;
}

.holder {
  max-width: 1244px;
  padding: 0 50px;
  margin: 0 auto;
}

.hamburger {
  width: 32px;
  position: relative;
  z-index: 99999;
  cursor: pointer;
}
.hamburger i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.hamburger i + i {
  margin-top: 6px;
}

.open-nav .header-logo .hamburger i {
  background-color: #242d3f;
}
.open-nav .header-logo .hamburger i:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
.open-nav .header-logo .hamburger i:nth-child(2) {
  opacity: 0;
}
.open-nav .header-logo .hamburger i:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #242d3f;
  font-size: 11px;
  font-family: "satoshi";
  font-weight: bold;
  background-color: #b1ff00;
  padding: 12px 39px;
  border: 2px solid #b1ff00;
  border-radius: 36px;
  transition: 0.3s ease-in-out;
  margin-top: 70px;
}
.btn:hover {
  background-color: transparent;
}

.fixed-btn {
  position: fixed;
  right: -100px;
  top: 50%;
  transform: rotate(-90deg);
  transition: all 0.3s;
  z-index: 9999;
}
.fixed-btn a {
  background-color: #b1ff00;
  border-radius: 2.1875rem 2.1875rem 0 0;
  color: #242d3f;
  display: block;
  font-family: "Satoshi";
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.115em;
  padding: 8px 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 215px;
}
.fixed-btn:hover {
  right: -88px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  z-index: 9999;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  background-image: url(../images/DD-bg.jpg);
  background-repeat: no-repeat;
  background-position: right 0px center;
}
.nav-wrapper .main-nav-menu {
  max-width: 33.3333%;
}
.nav-wrapper .main-nav-menu .main-nav {
  list-style-type: none;
  padding-top: 45px;
}
.nav-wrapper .main-nav-menu .main-nav > li > a {
  display: block;
  text-decoration: none;
  color: #242d3f;
  font-size: 20px;
  font-family: "satoshi";
  font-weight: bold;
  line-height: 27px;
  letter-spacing: normal;
  text-transform: capitalize;
  position: relative;
}
.nav-wrapper .main-nav-menu .main-nav > li > a::after {
  position: absolute;
  content: "";
  background-image: url(../images/right-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  width: 55px;
  height: 10px;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu {
  position: relative;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu span.sub-menu-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 420px;
  border-left: 1px solid #dadada;
  padding: 10px 35px;
  margin-left: 35px;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu span.sub-menu-wrap p {
  color: #242d3f;
  font-size: 15px;
  font-family: "satoshi";
  font-weight: normal;
  line-height: 22px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu span.sub-menu-wrap .sub-menu {
  padding-top: 18px;
  list-style: none;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu span.sub-menu-wrap .sub-menu li a {
  text-decoration: none;
  color: #242d3f;
  font-size: 15px;
  font-family: "satoshi";
  font-weight: bold;
  line-height: 22px;
}
.nav-wrapper .main-nav-menu .main-nav > li.has-sub-menu span.sub-menu-wrap .sub-menu li + li {
  margin-top: 19px;
}
.nav-wrapper .main-nav-menu .main-nav > li + li {
  margin-top: 33px;
}

.open-nav .nav-wrapper {
  max-height: 700px;
  opacity: 1;
  visibility: visible;
}

.nav-wrapper .holder .main-nav-menu .main-nav .open .sub-menu-wrap {
  display: block;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}
.header > .holder {
  display: flex;
  align-items: center;
}
.header > .holder .header-logo {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 25%;
  flex-basis: 25%;
}
.header > .holder .header-logo img {
  width: 180px;
}
.header > .holder .header-right {
  max-width: 75%;
  flex-basis: 75%;
}
.header > .holder .header-right nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header > .holder .header-right nav .header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 64px;
}
.header > .holder .header-right nav .header-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-family: "satoshi";
  font-weight: bold;
  letter-spacing: 0.095em;
  position: relative;
}
.header > .holder .header-right nav .header-menu li a::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -2px;
  background-color: #fff;
  width: 0;
  height: 1px;
  transition: all 0.3s;
}
.header > .holder .header-right nav .header-menu li a:hover::after {
  left: 0;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.bg-banner {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 37px;
  position: relative;
}
.bg-banner > .holder {
  width: 100%;
  position: relative;
  z-index: 1;
}
.bg-banner > .holder .banner-desc {
  max-width: 950px;
}
.bg-banner > .holder .banner-desc h2 {
  color: #fff;
  font-size: 66px;
  font-family: "satoshi";
  font-weight: bold;
  line-height: 71px;
  letter-spacing: -0.01em;
  transition: 0.5s ease;
}
.bg-banner > .holder .banner-desc h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.bg-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 45, 63, 0.5);
}

body {
  background-color: lightblue;
}/*# sourceMappingURL=style.css.map */