// start of bg banner section
.bg-banner {
  min-height: 100vh;
  @include bg-reset;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 37px;
  position: relative;
  > .holder {
    width: 100%;
    position: relative;
    z-index: 1;
    .banner-desc {
      max-width: 950px;
      h2 {
        color: #fff;
        font-size: 66px;
        font-family: "satoshi";
        font-weight: bold;
        line-height: 71px;
        letter-spacing: -0.01em;
        transition: 0.5s ease;
        &:hover {
          -webkit-text-stroke: 2px #fff;
          color: transparent;
        }
      }
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(36, 45, 63, 0.5);
  }
}
